<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="./../css/contacto.css">
    <link rel="stylesheet" href="./../assets/fonts/RubikScribble-Regular.ttf">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>CONTACTANOS</h1>

<!-- BARRA DE NAVEGACION -->

    <nav>
        <ul class="barranav">
            <li class="letra"><a href="./../index.html">Inicio</a></li>
            <li class="letra"><a href="./productos.html">Relacionado</a></li>
            <li class="letra"><a href="./portfolio.html">Galeria</a></li>
            <li class="letra"><a class="inicio" href="#">Contacto</a></li>
            <li class="letra"><a href="./presupuesto.html">Formulario</a></li>
        </ul>
    </nav>

    <!-- CONTENIDO -->

    <img src="/assets/images/contacto/mapa.jpeg" alt="mapa" width="321" height="157"><br>

    <h2>Acerca de nosotros</h2>

    <ul>
        <li>Nos encontramos en calle Pepito, frente al Aeropuerto.</li><br>
        <li>Madrid, 28001.</li>
    </ul>
    <ul>
        <li>Horario de visita.
            <ul>
                <li>De Lunes a Viernes
                    <ul>
                        <li>9:00 - 13:00</li>
                        <li>17:00 - 22:00</li>
                    </ul>
                </li>
                <li>Sabado
                    <ul>
                        <li>9:00 - 13:00</li>
                    </ul>
                </li>
                <li>Domingos y festivos
                    <ul>
                        <li>Cerrado</li>
                    </ul>
                </li>  
            </ul>
        </li>
    </ul>
    <ul>
        <li>Telefono de contacto.
            <ul>
                <li>678912345</li>
                <li>638463834</li>
            </ul>
        </li>  
    </ul>
    <ul>
        <li>Correo.
            <ul>
                <li>contactomadrid@gmail.com</li>
                <li>correoinventado@hotmail.com</li>
            </ul>
        </li>
    </ul>
    
         <!-- FOOTER -->

    <footer>
        <div>
            <p>Copyright2020</p>
            <a href="https://www.facebook.com/"><img class="icono" src="/assets/images/footer/facebook.png" alt="facebook" title="Facebook" width="204" height="192"></a>
            <a href="https://www.instagram.com/"><img class="icono" src="/assets/images/footer/instagram.png" alt="instagram" title="Instagram" width="204" height="192"></a>
            <a href="https://twitter.com/"><img class="icono" src="/assets/images/footer/twitter.png" alt="twitter" title="Twitter" width="225" height="225"></a>
        </div>
        
        <div>
            <a class="direccion" href="./../views/contacto.html">Direccion de Empresa</a>
            <a class="avisolegal" href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Aviso legal</a>
        </div>
    </footer>

</body>