<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desastres Naturales</title>
    <link rel="stylesheet" href="./../css/portfolio.css">
    <link rel="stylesheet" href="./../assets/fonts/RubikScribble-Regular.ttf">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>GALERIA DE FOTOS</h1>

<!-- BARRA DE NAVEGACION -->

    <nav>
        <ul>
            <li><a href="./../index.html">Inicio</a></li>
            <li><a href="./productos.html">Relacionado</a></li>
            <li><a class="inicio" href="#">Galeria</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./presupuesto.html">Formulario</a></li>
        </ul>
    </nav>

    <!-- GALERIA DE FOTOS -->

    <h2>MAS IMAGENES DE FENOMENOS NATURALES</h2><br>

    <div class="fotos">
       
            <img class="imagen" src="/assets/images/galeria/desastre1.jpeg" alt="desastre" width="242" height="148">
            <img class="imagen" src="/assets/images/galeria/desastre2.jpeg" alt="desastre" width="270" height="148">
            <img class="imagen" src="/assets/images/galeria/desastre3.jpeg" alt="desastre" width="237" height="148">
        
       
            <img class="imagen" src="/assets/images/galeria/desastre4.jpeg" alt="desastre" width="242" height="148">
            <img class="imagen" src="/assets/images/galeria/desastre5.jpeg" alt="desastre" width="243" height="148">
            <img class="imagen" src="/assets/images/galeria/desastre6.jpeg" alt="desastre" width="275" height="183">
        
       
            <img class="imagen" src="/assets/images/galeria/desastre7.jpeg" alt="desastre" width="225" height="225">
            <img class="imagen" src="/assets/images/galeria/desastre8.jpeg" alt="desastre" width="300" height="168">
            <img class="imagen" src="/assets/images/galeria/desastre9.jpeg" alt="desastre" width="340" height="148">
        
            <img class="imagen" src="/assets/images/galeria/desastre10.jpeg" alt="desastre" width="255" height="197">
            <img class="imagen" src="/assets/images/galeria/desastre11.jpeg" alt="desastre" width="282" height="179">
            <img class="imagen" src="/assets/images/galeria/desastre12.jpeg" alt="desastre" width="200" height="169">
       
            <img class="imagen" src="/assets/images/galeria/desastre13.jpeg" alt="desastre" width="337" height="150">
            <img class="imagen" src="/assets/images/galeria/desastre14.jpeg" alt="desastre" width="183" height="275">
            <img class="imagen" src="/assets/images/galeria/desastre15.jpeg" alt="desastre" width="275" height="183">
      
            <img class="imagen" src="/assets/images/galeria/desastre16.jpeg" alt="desastre" width="337" height="150">
            <img class="imagen" src="/assets/images/galeria/desastre17.jpeg" alt="desastre" width="284" height="177">
            <img class="imagen" src="/assets/images/galeria/desastre18.jpeg" alt="desastre" width="300" height="168">
     
            <img class="imagen" src="/assets/images/galeria/desastre19.jpeg" alt="desastre" width="299" height="168">
            <img class="imagen" src="/assets/images/galeria/desastre20.jpeg" alt="desastre" width="300" height="168">
            <img class="imagen" src="/assets/images/galeria/desastre21.jpeg" alt="desastre" width="275" height="183">
        </div>
   
        <!-- FOOTER -->

    <footer>
        <div>
            <p>Copyright2020</p>
            <a href="https://www.facebook.com/"><img class="icono" src="/assets/images/footer/facebook.png" alt="facebook" title="Facebook" width="204" height="192"></a>
            <a href="https://www.instagram.com/"><img class="icono" src="/assets/images/footer/instagram.png" alt="instagram" title="Instagram" width="204" height="192"></a>
            <a href="https://twitter.com/"><img class="icono" src="/assets/images/footer/twitter.png" alt="twitter" title="Twitter" width="225" height="225"></a>
        </div>
        
        <div>
            <a class="direccion" href="./../views/contacto.html">Direccion de Empresa</a>
            <a class="avisolegal" href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Aviso legal</a>
        </div>
    </footer>