<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relacionado</title>
    <link rel="stylesheet" href="./../css/productos.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>FENOMENOS NATURALES</h1>

<!-- BARRA DE NAVEGACION -->

    <nav>
        <ul>
            <li><a href="./../index.html">Inicio</a></li>
            <li><a class="inicio" href="#">Relacionado</a></li>
            <li><a href="./portfolio.html">Galeria</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./presupuesto.html">Formulario</a></li>
        </ul>
    </nav>

<!-- CONTENIDO -->    

    <h2>AURORAS BOREALES</h2>
    <section>
        <p>Una aurora boreal o polar se produce cuando una eyección de masa solar choca con los polos norte y sur de la
        magnetósfera terrestre, produciendo una luz difusa pero predominante proyectada en la ionósfera terrestre.
        Ocurren cuando partículas cargadas (protones y electrones), son guiadas por el campo magnético de la Tierra e inciden en
        la atmósfera cerca de los polos. Cuando esas partículas chocan con los átomos y moléculas de oxígeno y nitrógeno, que
        constituyen los componentes más abundantes del aire, parte de la energía de la colisión excita esos átomos a niveles de
        energía tales que cuando se desexcitan devuelven esa energía en forma de luz visible.</p>
        <img src="/assets/images/relacionado/auroraboreal.jpeg" alt="auroraboreal" width="297" height="170">

    </section><br>
    <h2>BOLAS DE FUEGO DEL RIO MEKONG</h2>
    <section>
        <p>Otros fenómenos naturales son las bolas de fuego en el rio Mekong. Cada año, cientos de bolas de fuego aparecen
        misteriosamente en el Río Mekong de Tailandia. El fenómeno de la naturaleza conocido como “bungfai paya nak” o “bolas de
        fuego de Naga”, aparecen al finalizar la cuaresma budista en octubre. Algunos creen que las misteriosas bolas proceden
        del aliento de Naga, una serpiente mítica que reside en el río. Otros creen que las bolas de fuego son en realidad focos
        de metano que burbujean desde el río, pero muchos lugareños siguen convencidos de que las bolas de fuego son de origen
        sobrenatural.</p>
        <img src="/assets/images/relacionado/bolasfuego.jpeg" alt="bolas de fuego" width="275" height="183">
    </section><br>
    <h2>ARCOIRIS</h2>
    <section>
        <p>Un arcoíris o arco iris es un fenómeno óptico y meteorológico que causa la aparición en la atmósfera terrestre de un
        arco multicolor, a veces, doble, por la descomposición de la luz solar en el espectro visible. Se produce por
        refracción, cuando la luz atraviesa gotas de agua. Está formado por arcos concéntricos de colores, sin solución de
        continuidad entre ellos, con el rojo hacia la parte exterior y el violeta hacia el interior. A altitud suficiente, por
        ejemplo cuando se viaja en avión, el arcoíris se puede observar en forma de círculo completo.
        
        
        Colores del espectro visible.
        
        Arcoíris visto desde un avión.
        
        Doble arcoíris en la Ciudad de Verona. Obsérvese la banda oscura de Alejandro entre el arcoíris primario y el
        secundario.
        Cuando se observa un arcoíris doble, el arco secundario rodea al primario. Su intensidad es más tenue y el orden de los
        colores está invertido.
        
        Para los colores vistos por el ojo humano, la secuencia más comúnmente citada y recordada es la de Isaac Newton,
        definida por siete colores fundamentales: rojo, naranja, amarillo, verde, azul, índigo y violeta. Una lectura cuidadosa
        del trabajo de Newton indica que el color que llamó azul es lo que actualmente llamaríamos cian.</p>
        <img src="/assets/images/relacionado/arcoiris.jpeg" alt="arcoiris" width="300" height="168">
    </section><br>
    <h2>BURBUJAS DE HIELO INFLAMABLES</h2>
    <section>
        <p>Estas curiosas burbujas de hielo o burbujas congeladas están llenas de metano, un gas altamente inflamable que asciende
        en forma de burbujas y explotan al chocar con el hielo, se forman en el Lago Abraham en Alberta (Canadá). Toda belleza
        tiene su riesgo y esta lo tiene.</p>
        <img src="/assets/images/relacionado/burbuja.jpeg" alt="burbujas de hielo" width="183" height="275">
    </section><br>

       <!-- FOOTER -->

    <footer>
        <div>
            <p>Copyright2020</p>
            <a href="https://www.facebook.com/"><img class="icono" src="/assets/images/footer/facebook.png" alt="facebook" width="204" height="192"></a>
            <a href="https://www.instagram.com/"><img class="icono" src="/assets/images/footer/instagram.png" alt="instagram" width="204" height="192"></a>
            <a href="https://twitter.com/"><img class="icono" src="/assets/images/footer/twitter.png" alt="twitter" width="225" height="225"></a>
        </div>
        
        <div>
            <a class="direccion" href="./../views/contacto.html">Direccion de Empresa</a>
            <a class="avisolegal" href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Aviso legal</a>
        </div>
    </footer>
</body>
</html>